.content-box {
	background-color: transparent;
	flex: 0 0 200px;
	color: #333;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
.upper,
.lower {
	list-style-type: none;
	display: flex;
	flex-flow: column nowrap;
}
.upper,
.lower,
li {
	margin-bottom: 1rem;
}
.upper,
.lower,
a {
	display: block;
	width: 80%;
	margin: auto;
	text-decoration: none;
}
.upper,
.lower,
a:any-link {
	color: #333;
	font-weight: 300;
	text-decoration: none;
}
.upper,
.lower,
a:focus,
a:hover {
	transform: scale(1.2);
	font-weight: bold;
	transition: all 0.3s;
}
.upper {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding: 1rem;
}
.lower {
	display: flex;
	justify-content: center;
	margin-top: 20px;
	padding: 1rem;
	margin-bottom: 20px;
}
